# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json

# Byte-compiled / optimized / DLL files
**/__pycache__/

ssd_mobilenet_v1_coco_2017_11_17.tar.gz
ssd_mobilenet_v1_coco_2017_11_17
# Ignore everything:
models/*
# Except object detection models:
!models/research/
models/research/*
!models/research/object_detection
# !models/research/PythonAPI
# !models/research/protoc_3.11.3